@model Mvc_ogrenci_kayit.Models.Table

@{
    ViewBag.Title = "Details";
}

<h4>Öğrenci Detay</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OgrAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OgrMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrMail)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.OgrFotograf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrFotograf)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.OgrAdres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrAdres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.OgrID }) |
    @Html.ActionLink("Öğrenci Listesi", "Index")
</p>
<dt>
    <img src="@Model.OgrFotograf" /> 
</dt>
